.poster {
  width: 100%;
  margin-bottom: 3rem;
  position: relative; /* REQUIRED */
  z-index: 1;
}

.poster-inner {
  display: inline-block;
  transform: rotate(-12deg);
  position: relative;
}

.birthday {
  font-size: 2rem;
  letter-spacing: 0.25em;
  margin: 0;
  opacity: 0.8;
}

.name {
  font-size: 4.5rem;
  margin: 0;
  text-shadow:
    4px 4px 0 rgba(0, 0, 0, 0.7),
    8px 8px 0 rgba(255, 79, 163, 0.4);
}
